.m-detail {
  @include flexbox();
  @include flex-direction(column);
  width: 100%;
  height: 100%;

  section {
    @include flex();
    width: 100%;
    overflow-y: scroll;

    header {
      background: #fff;
      color: #000;
      @include border(0 0 1px 0,#ccc);
      font-size: 0.16rem;
    }

    .yt-dl-swipe {
      width: 100%;
      height: 3.6rem;
      max-width: 6.4rem;
      padding: 0.2rem 0;
      overflow: hidden;
      background: #fff;
      position: relative;
      @include border(1px 0 0 0,#ccc);
      .yt-swipe-box {
        @include flexbox();
        @include justify-content(center);
        width: 100%;
        height: 100%;

        img {
          height: 100%;
        }
      }

      .mint-swipe-indicators {
        .is-active {
          background-color: #aaa;
        }
      }

      .yt-dl-miao {
        position: absolute;
        left: 0.1rem;
        top: 0;
        width: 0.35rem;
        height: 0.35rem;
        background: url("../assets/images/miao-cat-max.png") no-repeat center;
        background-size: 0.35rem 0.35rem;
      }
    }

    .yt-dl-info {
      width: 100%;
      padding: 0.1rem 0.1rem 0;
      background: #fff;

      .yt-dl-tle {
        height: 0.45rem;
        width: 100%;
        @include flexbox();
        @include justify-content(center);

        .yt-dl-name {
          width: 83%;
          height: 100%;
          @include border(0 1px 0 0 ,#999);
          font-size: 0.17rem;
          @include ellipsis(83%,2);
        }

        .yt-dl-like {
          @include flex();
          height: 100%;
          @include flexbox();
          @include justify-content();
          @include align-items();

          > span {
            width: 0.35rem;
            height: 0.3rem;
            background: url("../assets/images/bai-08.png") no-repeat 0 0;
            background-size: 0.35rem 0.6rem;
          }
          .liked{
            background-position:  0 bottom;
          }
        }
      }

      .yt-dl-pirce {
        width: 100%;
        height: auto;
        padding: 0.08rem;
        @include flexbox();
        @include align-items(center);
        @include flex-wrap(wrap);
        // @include flex-direction(row-reverse);

        .yt-dl-currentprice {
          color: #e5004f;
          > span {
            font-size: 0.24rem;
            font-weight: 500;
          }
        }

        .yt-dl-marketprice {
          padding-left: 0.08rem;
          text-decoration: line-through;
          color: #999;
          width:30%;
        }

        .yt-dl-itemcode {
          width: 50%;
          color: #999;
          font-size: .12rem;
        }
      }
    }

    .yt-dl-classify {
      padding-top: 0.1rem;
      width: 100%;

      > ul {
        @include flexbox();
        width: 100%;
        @include flex-direction(column);
        padding: 0 0.1rem;
        background: #fff;

        li {
          width: 100%;
          @include border(0 0 1px 0 ,#ccc,dashed);
          line-height: 0.4rem;

          .yt-dl-classify-tle {
            display: block;
            color: #999;
          }

          .yt-dl-options {
            width: 100%;
            @include flexbox();
            padding-bottom: 0.1rem;
            @include flex-wrap(wrap);
          }

          .yt-dl-option {
            margin: 0 0.05rem;
            width: 0.5rem;
            line-height: 0.3rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            vertical-align: middle;
            background-color: #fff;
            color: #666;
            @include border(1px,#333,solid,.05rem);
            margin-bottom: .05rem;
          }

          .opnum-size {
            width: 0.3rem;
          }

          .active {
            @include border(1px,#e5004f,solid,.05rem);
            color: #ff6d9d;
          }

          .yt-dl-opnum {
            display: inline-block;

            > span {
              display: inline-block;
              font-size: 0.2rem;
            }
          }

          .yt-dl-stocktips {
            margin-left: 10px;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            color: #e5004f;
          }
        }

        li:first-child {
          .yt-dl-classify-tle {
            display: inline-block;
          }
        }

        > li:last-child {
          @include border(0);
        }

        .yt-dl-checkselected {
          height: 0.4rem;
          text-align: left;
        }

        .yt-dl-color {}
      }
    }

    .yt-dl-brand {
      padding-top: 0.1rem;
      .yt-brand-img{
        height: .3rem;
      }

    }
    .yt-dl-moretitle{
      padding-top: .1rem;
      width: 100%;
      height: .5rem;
      .title-text{
        background: #fff;
        display:inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: .4rem;
        color: #666;
      }
    }

    .yt-dl-desc{
      width: 100%;
      padding-top:.1rem;
      >ul{
        width: 100%;
        @include flexbox();
        @include flex-direction(column);
        background-color: #fff;
        li{
          .yt-desc-title{
            margin: .1rem 0;
            height: .24rem;
            background: url(../assets/images/p-long.gif) 0 -16px no-repeat;
            .yt-zh-title{
              padding-left: .1rem;
              color: #333;
            }
            .yt-en-title{
              padding-left: .06rem;
              color: #c9c9c9;
            }
          }
          .yp-argu-det{
            @include flexbox();
            @include flex-direction(column);
            >span{
              width: 100%;
              min-height: .28rem;
              line-height: .28rem;
              padding: 0 .1rem 0 .15rem;
              text-align: left !important;
              color: #666;
              font-size: .12rem;
            }
            span:nth-child(odd){
              background-color: #f9f9f9;
            }
          }
          >img{
            width: 100%;
          }
          >p{
            padding: .1rem .05rem .1rem;
            font-size: .12rem;
            color: #666;
          }
          .yt-dl-story{
            width: 100%;
            @include flexbox();
            @include flex-direction(column);
            padding: 0 .18rem;
            padding-bottom: .6rem;
            .yt-dl-story-brandimg{
              width: 100%;
              height: 1.25rem;
              @include flexbox();
              @include justify-content();
              @include align-items();
              padding: .1rem 0 .4rem 0;
              img{
                width: 1.2rem
              }
            }
            .brand-cn-name{
              width: 100%;
              height: .64rem;
              padding: .2rem 0;
              line-height: .24rem;
              font-size: .2rem;
              @include border(0 0 1px 0,#cecece);
            }
            >p{
              padding: .1rem 0;
              font-size: .14rem;
              color: #666;
            }
            >img{
              width: 100%;
            }
          }
        }
      }
    }
    .m-hot{
      height: auto;
    }
  }

  .yt-dl-bar {
    height: 0.42rem;
    width: 100%;

    > ul {
      @include flexbox();
      height: 100%;

      li:first-child {
        width: 0.55rem;
        background: #fff;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        .yt-cart-icon{
          color: #ff6d9d;
          font-size: .2rem;
          height: .2rem;
          line-height: .2rem;
        }
      }

      li:nth-child(2), li:nth-child(3){
        @include flex();
        height: 100%;
        text-align: center;
        line-height: .42rem;
        color: #fff;
        background: #e5004f;
      }
      li:nth-child(3){
        background: #FF7039;
      }
    }
  }
}
